<a href="https://colab.research.google.com/github/Venkatachalam17/Python_Workouts/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# normal Print
Emp ={"Name":"Ram","Age":32,"Salary":65000,"Company":"TCS"}
print(Emp)

{'Name': 'Ram', 'Age': 32, 'Salary': 65000, 'Company': 'TCS'}

In [ ]:
#Adding new key value and type

Emp ={"Name":"Ram","Age":32,"Salary":65000,"Company":"TCS"}
print(type(Emp))
Emp['Emp_ages'] = 20, 33, 24
print(Emp)

<class 'dict'>
{'Name': 'Ram', 'Age': 32, 'Salary': 65000, 'Company': 'TCS', 'Emp_ages': (20, 33, 24)}

In [ ]:
#Print empty dict

Emp ={}
print(Emp)

{}

In [ ]:
#print dict in diff ways

Dict=dict({1:"One",2:"Two",3:"Three"})
print(Dict);

Dict2 = dict([(2,"two"),(3,"Three"),(4,"Four")])
print(Dict2)

{1: 'One', 2: 'Two', 3: 'Three'}
{2: 'two', 3: 'Three', 4: 'Four'}

In [ ]:

#print with format spec

Emp ={"Name":"Ram","Age":32,"Salary":65000,"Company":"TCS"}
print(type(Emp))
print("Name %s"%Emp["Name"])
print("Age %d"%Emp["Age"])
print("Salary %d"%Emp["Salary"])

<class 'dict'>
Name Ram
Age 32
Salary 65000

In [ ]:
Emp ={"Name":"Ram","Age":32,"Salary":65000,"Company":"TCS"}
print(Emp["Name"])
print(Emp["Age"])
print(Emp["Salary"])

Ram
32
65000

In [ ]:
D={}
D[0] = 'Peter'
D[2] = 'Joseph'
D[3] = "Ric"
print(D)

{0: 'Peter', 2: 'Joseph', 3: 'Ric'}

Dictionary after adding 3 elements:
{1: 'One', 2: 'Joseph', 3: 'Ric', 0: 'Peter', 'Emp_ages': (20, 33, 24)}

In [ ]:
Emp = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
print("Old emp details")
print(Emp)

print("Enter new emp details")
Emp["Name"]=input("Name")
Emp["Age"]= int(input("Age:"))
Emp["salary"]= int(input("Salary:"))
Emp["Company"]=input("Company name:")
Emp["Added"] =input("New:")

print(Emp)

Old emp details
{'Name': 'Dev', 'Age': 20, 'salary': 45000, 'Company': 'WIPRO'}
Enter new emp details
NameRam
Age:89
Salary:90000
Company name:Infosys
New:Normal\
{'Name': 'Ram', 'Age': 89, 'salary': 90000, 'Company': 'Infosys', 'Added': 'Normal\\'}

In [ ]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}

del Employee["Name"]

del Employee["Age"]

print(Employee)

del Employee
print(Employee)

{'salary': 45000, 'Company': 'WIPRO'}

NameError: name 'Employee' is not defined

In [ ]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
print(Employee.pop("Name"))
print(Employee)

Dev
{'Age': 20, 'salary': 45000, 'Company': 'WIPRO'}

In [ ]:
Employee = {"Name": "Dev", "Age": 20, "salary":45000,"Company":"WIPRO"}
for x in Employee:
  print(x)
  print(Employee[x])

Name
Dev
Age
20
salary
45000
Company
WIPRO

#1.A university library management system stores book details in a Python dictionary named books, where the is the book_id and the is another dictionary containing title, author, andavailable_copies.

During end-of-day processing, the librarian performs the following operations:

* Creates a backup of the current books record before making changes.

* Initializes a new dictionary of default categories ("Science", "Arts", "Engineering")
with an initial count of 0.

* Safely retrieves the number of available copies for a given book_id without causing
an error if the ID does not exist.

* Displays all book IDs with their corresponding details for reporting.

* Extracts only the list of book IDs and only the list of available copy counts for
analytics.


* Removes the most recently added book entry during a data correction step.

* Ensures a missing book category is added with a default value if it does not already
exist.

* Merges a newly received shipment of books (stored in another dictionary) into the
existing books dictionary.

* Finally, clears all records at the end of the academic year.

* Identify and justify the appropriate Python dictionary methods (clear(), copy(),
fromkeys(), get(), items(), keys(), pop(), popitem(), setdefault(), values(), update())
that should be used for each of the above operations, and explain each method is
suitable in the given scenario.

In [1]:
import builtins

# Initial books dictionary
books = {
    101: {"title": "Python Basics", "author": "Guido", "available_copies": 5},
    102: {"title": "Data Structures", "author": "Mark", "available_copies": 3},
    103: {"title": "AI Concepts", "author": "Andrew", "available_copies": 7}
}

# 1. Create a backup of the books record
books_backup = books.copy()

# 2. Initialize default categories with initial count 0
categories = dict.fromkeys(["Science", "Arts", "Engineering"], 0)

# 3. Safely retrieve available copies for a given book_id
book_id_to_check = 104
copies = books.get(book_id_to_check, {}).get("available_copies", 0)
print(f"Available copies for book_id {book_id_to_check}: {copies}")

# 4. Display all book IDs with their details
print("\nAll books and details:")
for book_id, details in books.items():
    print(book_id, details)

# 5. Extract only the list of book IDs
book_ids = builtins.list(books.keys())
print("\nBook IDs:", book_ids)

# 6. Extract only the list of available copy counts
available_copies_list = [details["available_copies"] for details in books.values()]
print("Available copies list:", available_copies_list)

# 7. Remove a book record when permanently discarded
removed_book = books.pop(102, None)
print("\nRemoved book with ID 102:", removed_book)

# 8. Remove the most recently added book entry
last_removed = books.popitem()
print("Most recently removed book:", last_removed)

# 9. Ensure a missing category is added with a default value
categories.setdefault("Medical", 0)
print("\nCategories after setdefault:", categories)

# 10. Merge newly received shipment of books
new_shipment = {
    104: {"title": "Machine Learning", "author": "Tom", "available_copies": 6},
    105: {"title": "Cloud Computing", "author": "Sam", "available_copies": 4}
}
books.update(new_shipment)
print("\nBooks after new shipment:")
for book_id, details in books.items():
    print(book_id, details)

# 11. Clear all records at the end of the academic year
books.clear()
print("\nBooks after clearing:", books)

Available copies for book_id 104: 0

All books and details:
101 {'title': 'Python Basics', 'author': 'Guido', 'available_copies': 5}
102 {'title': 'Data Structures', 'author': 'Mark', 'available_copies': 3}
103 {'title': 'AI Concepts', 'author': 'Andrew', 'available_copies': 7}

Book IDs: [101, 102, 103]
Available copies list: [5, 3, 7]

Removed book with ID 102: {'title': 'Data Structures', 'author': 'Mark', 'available_copies': 3}
Most recently removed book: (103, {'title': 'AI Concepts', 'author': 'Andrew', 'available_copies': 7})

Categories after setdefault: {'Science': 0, 'Arts': 0, 'Engineering': 0, 'Medical': 0}

Books after new shipment:
101 {'title': 'Python Basics', 'author': 'Guido', 'available_copies': 5}
104 {'title': 'Machine Learning', 'author': 'Tom', 'available_copies': 6}
105 {'title': 'Cloud Computing', 'author': 'Sam', 'available_copies': 4}

Books after clearing: {}