<a href="https://colab.research.google.com/github/Venkatachalam17/Python_Workouts/blob/main/pp3_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple =()
print(tuple)

tuple1=(1,2,3,4,5,"python",7,8,9)
print(tuple1)

tuple2=(1,2,3,{3,4,5,6},3,4,5)
print(tuple2)

()
(1, 2, 3, 4, 5, 'python', 7, 8, 9)
(1, 2, 3, {3, 4, 5, 6}, 3, 4, 5)

In [ ]:
#Diff ways of declaring tuple
tuple3 = 1,2,4,5,6,"Reply"
print(tuple3)
print(type(tuple3))


#Single tuple different ways
tuple = "Programming"
print(tuple)

tuple2 = ("Coding",)
print(tuple2)

tuple3= "Coding",
print(tuple2)

(1, 2, 4, 5, 6, 'Reply')
<class 'tuple'>
Programming
('Coding',)
('Coding',)

In [ ]:
tuple1=(1,2,3,4,5,"python",7,8,9)
print(tuple1[-1])
print(tuple1[-4:-1])
print(tuple1[-4:])
print(tuple1[:])
print(tuple1[1:7])

9
('python', 7, 8)
('python', 7, 8, 9)
(1, 2, 3, 4, 5, 'python', 7, 8, 9)
(2, 3, 4, 5, 'python', 7)

In [ ]:
tuple2=(1,2,3,{3,3,3,4},5,6,3,4,5)
res = tuple2.count(3)
print(res)


res1=tuple2.index(3) #first occurance value only
print(res1)

res1=tuple2.index(3,4) #first occurance of the two values
print(res1)

5
2
4

In [2]:

Tuple_data = (0, 1, 2, 3, 2, 3, 1, 3, 2)


res = Tuple_data.index(3)
print('First occurrence of 1 is', res)


res = Tuple_data.index(3, 4)
print('First occurrence of 1 after 4th index is:', res)

First occurrence of 1 is 3
First occurrence of 1 after 4th index is: 5

In [3]:

fruit_basket = ("Apple", "Banana", "Cherry", "Mango", "Grape")


is_apple_there = "Apple" in fruit_basket
print("Is 'Apple' in the basket?", is_apple_there)

is_orange_missing = "Orange" not in fruit_basket
print("Is 'Orange' NOT in the basket?", is_orange_missing)


print("Is 'apple' (lowercase) in the basket?", "apple" in fruit_basket)

Is 'Apple' in the basket? True
Is 'Orange' NOT in the basket? True
Is 'apple' (lowercase) in the basket? False

In [4]:

tuple_ = ("Python", "Tuple", "Ordered", "Immutable")
for item in tuple_:
    print(item)

Python
Tuple
Ordered
Immutable

In [1]:
"""2. An e-commerce company stores (Product ID, Product Name, Category, Price) as a to ensure the data remains .
Multiple such tuples are stored and analyzed for reporting purposes.
Using appropriate , perform the following tasks: Create a tuple to store product details.
Access and display specific elements from the tuple using indexing.
Count how many times a particular category appears in a tuple of categories.
Find the index of a given product name in a tuple.
Demonstrate tuple slicing to display a subset of product details.
Convert the tuple into a list to update the price and convert it back to a tuple.
Explain why tuples are preferred over lists for storing fixed product records."""

# Create a tuple to store product details
product = (101, "Laptop", "Electronics", 55000)

print(product[0])
print(product[1])
print(product[2])
print(product[3])


categories = ("Electronics", "Clothing", "Electronics", "Grocery")
print(categories.count("Electronics"))

#  Find the index of a product name
products = ("Laptop", "Mobile", "Tablet", "Camera")
print(products.index("Tablet"))

# Tuple slicing
print(product[1:3])


product_list = list(product)
product_list[3] = 60000
product = tuple(product_list)
print(product)

101
Laptop
Electronics
55000
2
2
('Laptop', 'Electronics')
(101, 'Laptop', 'Electronics', 60000)