<a href="https://colab.research.google.com/github/Venkatachalam17/Python_Workouts/blob/main/pp3_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple =()
print(tuple)

tuple1=(1,2,3,4,5,"python",7,8,9)
print(tuple1)

tuple2=(1,2,3,{3,4,5,6},3,4,5)
print(tuple2)

()
(1, 2, 3, 4, 5, 'python', 7, 8, 9)
(1, 2, 3, {3, 4, 5, 6}, 3, 4, 5)

In [ ]:
#Diff ways of declaring tuple
tuple3 = 1,2,4,5,6,"Reply"
print(tuple3)
print(type(tuple3))


#Single tuple different ways
tuple = "Programming"
print(tuple)

tuple2 = ("Coding",)
print(tuple2)

tuple3= "Coding",
print(tuple2)

(1, 2, 4, 5, 6, 'Reply')
<class 'tuple'>
Programming
('Coding',)
('Coding',)

In [ ]:
tuple1=(1,2,3,4,5,"python",7,8,9)
print(tuple1[-1])
print(tuple1[-4:-1])
print(tuple1[-4:])
print(tuple1[:])
print(tuple1[1:7])

9
('python', 7, 8)
('python', 7, 8, 9)
(1, 2, 3, 4, 5, 'python', 7, 8, 9)
(2, 3, 4, 5, 'python', 7)

In [ ]:
tuple2=(1,2,3,{3,3,3,4},5,6,3,4,5)
res = tuple2.count(3)
print(res)


res1=tuple2.index(3) #first occurance value only
print(res1)

res1=tuple2.index(3,4) #first occurance of the two values
print(res1)

5
2
4

In [ ]:
tuple3 = ("List","Tuple","Python","Coding","Reality","Programming",)