<a href="https://colab.research.google.com/github/Venkatachalam17/Python_Workouts/blob/main/PP_III_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list = [1,2,"Python",4,5]
print(list)
print(type(list))

[1, 2, 'Python', 4, 5]
<class 'list'>

In [ ]:
a=[1,2,4,"List","Tuple"]
b=[1,2,4,"List","Tuple"]
a==b

True

In [ ]:
list=[1,2,4,5,6,7,8]
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])
print(list[5])

1
2
4
5
6
7

In [ ]:
list=[5,"Python","Java",67,90,"ramesh",55,78,67]
print(list[:])
print(list[2:5])
print(list[1:7:2])

[5, 'Python', 'Java', 67, 90, 'ramesh', 55, 78, 67]
['Java', 67, 90]
['Python', 67, 'ramesh']

In [ ]:
list=[5,"Python","Java",67,90,"ramesh",55,78,67]
print(list[-1])
print(list[-3:])
print(list[-5:-2])
print(list[:-6])
print(list[-9:-2:2])

67
[55, 78, 67]
[90, 'ramesh', 55]
[5, 'Python', 'Java']
[5, 'Java', 90, 55]

In [ ]:
list = [1,2,55,78,96,44,67,23]
list[0]= 78
print(list)

[78, 2, 55, 78, 96, 44, 67, 23]

In [ ]:
list = [1,2,55,78,96,44,67,23]
print(list*2)

[1, 2, 55, 78, 96, 44, 67, 23, 1, 2, 55, 78, 96, 44, 67, 23]

In [ ]:
list = [1,2,55,78,96,44,67,23]
for i in list:
  print(i)

1
2
55
78
96
44
67
23

In [ ]:
list = [1,2,55,78,96,44,67,23]
print(1 in list)
print(9 in list)
print(55 not in list)

True
False
False

In [ ]:
list=[]
n=int(input("Enter total number of value in the list  "))

for i in range(0,n):
  list.append(input("Enter the values:"))
for i in list:
  print(i)

Enter total number of value in the list  7
Enter the values:8
Enter the values:9
Enter the values:5
Enter the values:43
Enter the values:34
Enter the values:56
Enter the values:6
8
9
5
43
34
56
6

In [ ]:
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

new_list = copy.copy(old_list)

print("Old list:", old_list)

print("New list:", new_list)

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

new_list = copy.copy(old_list)

old_list.append([4, 4, 4])

print("Old list:", old_list)

print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

new_list = copy.deepcopy(old_list)

print("Old list:", old_list)

print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'

print("Old list:", old_list)

print("New list:", new_list)

Old list: [[1, 1, 1], ['BB', 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
"""1. A college is developing a using Python lists to store student names. Initially, the list contains duplicate entries and needs to be managed dynamically throughout the semester.
As part of the system, perform the following tasks using appropriate :
Add a new student at the end of the list.
-Create a backup copy of the current list before making changes.
-Count how many times a particular student name appears in the list.
-Merge a list of transfer students with the existing list.
-Find the position of a given student in the list.
-Insert a priority student at a specified position.
-Remove the last enrolled student and display the removed name.
-Remove a specific student who has withdrawn from the course.
-Display the list in reverse order.
-Sort the student list alphabetically.
-Clear all records at the end of the semester."""