<a href="https://colab.research.google.com/github/Venkatachalam17/Python_Workouts/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Nam ={"ram","Kumar","Priya","Tina"}
print(Nam)
print(type(Nam))

for i in Nam:
  print(i)

{'ram', 'Priya', 'Tina', 'Kumar'}
<class 'set'>
ram
Priya
Tina
Kumar

In [ ]:
#Tuple and List in same Set but List wont work error

Nam =set({"ram","Kumar","Priya","Tina"})
print(Nam)
Name ={"ram","Kumar","Priya","Tina"}
print(type(Name))


Name3 = {"ram", "Kumar", ("Priya", "Tina")}
print(type(Name3))

Name1 ={"ram","Kumar",["Priya","Tina"]}
print(type(Name1)) #error

{'ram', 'Priya', 'Tina', 'Kumar'}
<class 'set'>
<class 'set'>

TypeError: unhashable type: 'list'

In [ ]:
Set={}
print(type(Set))

name = set()
print(type(name))

<class 'dict'>
<class 'set'>

In [ ]:
num={1,2,3,5,3,5,3,4}
print(num)

{1, 2, 3, 4, 5}

In [ ]:
Nam =set({"ram","Kumar","Priya","Tina"})
print(Nam)
Nam.add("Beast")
Nam.add("prem")
print(Nam)

{'ram', 'Priya', 'Tina', 'Kumar'}
{'Beast', 'Priya', 'Tina', 'Kumar', 'ram', 'prem'}

In [ ]:
Nam =set({"ram","Kumar","Priya","Tina"})
print(Nam)

Nam.update([1,2,3,4,5])
print(Nam)

Nam.discard(1)
print(Nam)

Nam.remove(5)
print(Nam)

Nam.pop()
print(Nam)

Nam.clear()
print(Nam)

{'ram', 'Priya', 'Tina', 'Kumar'}
{1, 2, 3, 4, 5, 'Priya', 'Tina', 'Kumar', 'ram'}
{2, 3, 4, 5, 'Priya', 'Tina', 'Kumar', 'ram'}
{2, 3, 4, 'Priya', 'Tina', 'Kumar', 'ram'}
{3, 4, 'Priya', 'Tina', 'Kumar', 'ram'}
set()

In [ ]:
#Set operation

#Set union and union()
day1={2,4,5,6,7}
day2={1,2,3,4,5}
print(day1|day2)
print(day1.union(day2))

#Set intersection & intersection()
day4={2,4,5,6,7}
day5={1,2,3,4,5}
print(day1&day2)
print(day1.intersection(day2))

#Set subtraction & intersection()
day6={2,4,5,6,7}
day7={1,2,3,4,5}
print(day1-day2)
print(day1.difference(day2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{2, 4, 5}
{2, 4, 5}
{6, 7}
{6, 7}